<h2>Sign up</h2>



<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
<br>
<div class="field">
    
    私の 名前は<%= f.text_field :name, autofocus: true, autocomplete: "name" %>です。
  </div>
  <br>
 <div class="field">
 私の国は<%= f.text_field :birth_country, autofocus: true, autocomplete: "birth_country" %>で、
 今は<%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"registration_select-box", id:"item-prefecture"}) %>に 住んでいます。
  </div >
<br>
    <div class="field">
    私は「やさしいHP」へ （また） 入りますから
最初に電子メール（めーる）<%= f.email_field :email, autofocus: true, autocomplete: "email" %>を書きます。
    </div>
    
  </div>
<br>
<%if @sns_id.present? %>
   <%= hidden_field_tag :sns_auth, true %>

  <% else %>
   <div class="field">
    
     <% @minimum_password_length %>
     
     次に、暗証番号<%= f.password_field :password, autocomplete: "new-password" %>を書きます。
   </div>

   <div class="field">
    
     間違えないように、もう一度、暗証番号<%= f.password_field :password_confirmation, autocomplete: "new-password" %>を書きます。
   </div>
 <% end %>

<br>
<div class="field">
    私はFacebookを持っているので、そのURLを書いてもいいです。
<br>
    <%= f.text_field :identity, autofocus: true, autocomplete: "identity" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%# <%= render "devise/shared/links" %> %>
