<%= render "shared/header" %>
<div class="registration_top">
<div class="registration_top_sentence">
<ruby>新<rt>あたら</rt></ruby>しく「やさしいHP」へ <ruby>私<rt>わたし</rt></ruby>は <ruby>入<rt>はい</rt></ruby>ります</div>
</div>



<div class='registration_main'>
<div class='registration_container'>
<%# <h2>Sign up</h2> %>



  <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
  <br>
  <div class="field">
      
      <ruby>私<rt>わたし</rt></ruby>の <span style="font-weight:800;"><ruby>名前<rt>なまえ</rt></ruby></span>は<%= f.text_field :name, autofocus: true, autocomplete: "name", :size => "20*30" %>です。
    </div>
    <br>
  <div class="field">
  <ruby>私<rt>わたし</rt></ruby>の<span style="font-weight:800;"><ruby>国<rt>くに</rt></ruby></span>は<%= f.text_field :birth_country, autofocus: true, autocomplete: "birth_country" %>で、
  <ruby>今<rt>いま</rt></ruby>は<%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"registration_select-box", id:"item-prefecture"}) %>
  に <span style="font-weight:800;"><ruby>住<rt>す</rt></ruby>んで</span>います。
    </div >
  <br>
      <div class="field">
      <ruby>私<rt>わたし</rt></ruby>は「やさしいHP」へ  <ruby>入<rt>はい</rt></ruby>りますから <br>
  <ruby>初<rt>はじ</rt></ruby>めに、<span style="font-weight:800;"><ruby>電子<rt>でんし</rt></ruby><ruby>メール<rt>めーる</rt></ruby></span>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>を<ruby>書<rt>か</rt></ruby>きます。
      </div>
      
    
  <br>
  <%if @sns_id.present? %>
    <%= hidden_field_tag :sns_auth, true %>

    <% else %>
    <div class="field">
      
      <% @minimum_password_length %>
      
      <ruby>次<rt>つぎ</rt></ruby>に、<span style="font-weight:800;"><ruby>暗証番号<rt>あんしょうばんごう</rt></ruby></span><%= f.password_field :password, autocomplete: "new-password" %>を<ruby>書<rt>か</rt></ruby>きます。
    </div>
    <br>
    <div class="field">
      
      <ruby>間違<rt>まちが</rt></ruby>えないように、もう<ruby>一度<rt>いちど</rt></ruby>、<span style="font-weight:800;"><ruby>暗証番号<rt>あんしょうばんごう</rt></ruby></span><%= f.password_field :password_confirmation, autocomplete: "new-password" %>を<ruby>書<rt>か</rt></ruby>きます。
    </div>
  <% end %>

  <br>
  <div class="field">
      <ruby>私<rt>わたし</rt></ruby>は<span style="font-weight:900;">Facebook</span>を<ruby>持<rt>も</rt></ruby>っているので、そのURLを<ruby>書<rt>か</rt></ruby>いてもいいです。
  <br>
  
      <%= f.text_field :identity, autofocus: true, autocomplete: "identity" , :size => "29*30",class: "identity_field"%>
    </div>
  <br>
    

<%# <%= render "devise/shared/links" %> 

</div>
   
          <div><%= button_tag type: :submit ,class: "registration_btn" do %>
          <%= image_tag('explain.png',size: '30x30')  %>
        <% end %>
         </div>
    <% end %>
</div>

<%= render "shared/footer" %>