
<% if user_signed_in? %>
<br>
<br>
<div class="main">
 <div class="comment_container">
    <div class="comment-box">
    <%if current_user.id != @topic.user.id %>
    <div comment_center>
    <div class="comment_sentence">私(わたし)は <%= @topic.user.name%> さんと 話(はな)します</div>
    </div>
    <% end %>
    <br>
    <%= form_with model: [@topic,@comment] do |f| %>
      <%= f.text_area :text %>
      
      
      <div id='comments'>
    <% @topic.comments.each do |comment| %>
      <p><%= comment.text %></p>
    <% end %>
    </div>
      <div class= 'comment_image'>
        <button type="submit" class="comment-btn">
          
          <span><%= image_tag "comment.png" ,size: '60x60' %><span>
        </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
 <% end %>