
<% if user_signed_in? %>

<div class="main">
 <div class="comment_container">
    <div class="comment-box">
    <%if current_user.id != @topic.user.id %>
   
    <div class="comment_sentence"><ruby>私<rt>わたし</rt></ruby>は <%= @topic.user.name%> さんと <ruby>話<rt>はな</rt></ruby>します</div>
    </div>
    <% end %>
    <br>

    <%= form_with model: [@topic,@comment] do |f| %>
      <%= f.text_area :text %>
      
      
      <div id='comments'>
    <% @topic.comments.reverse_each do |comment| %>
      <p class="comment_contain"><%= comment.text %></p>
      
   
 <% end %>
    </div>
    
      <div class= 'comment_image'>
        <button type="submit" class="comment-btn" name="commit">
          
          <span><%= image_tag "comment.png" ,size: '60x60' %><span>
        </button>
        </div>
      <% end %>
     </div>
   </div>
 </div>
</div>
 <% end %>