<%= render "shared/header" %>

<% breadcrumb :edit_topic, @topic %>

<div class="edit_container">
 <div class="edit_wrapper">

    <%= form_with model:@topic, local: true do |f| %>
   
        <%= render 'shared/error_messages', model: f.object %>

    <div class="new_field">
      <br>
      <div class="choice_sentence">
      <ruby>私<rt>わたし</rt></ruby>は <ruby>文章<rt>ぶんしょう</rt></ruby>を <ruby>選<rt>えら</rt></ruby>び <ruby>直<rt>なお</rt></ruby>します</div>
      <br>
      
      <%= f.collection_select(:sentence_id, Sentence.all, :id, :name, {}, {class:"select-box", id:"topic_sentence_id"}) %>
      
    </div>

    <br>
    <div class="new_field">
        <div class="explain_sentence"><ruby>私<rt>わたし</rt></ruby>は この<ruby>文章<rt>ぶんしょう</rt></ruby>について <ruby>説明<rt>せつめい</rt></ruby>し <ruby>直<rt>なお</rt></ruby>します</div>
       <br>
        <%= f.text_area :description, autofocus: true, autocomplete: "description" %>
    </div>

      <div class="actions">
       <div><%= button_tag type: :submit ,class: "explain_btn" do %>
        <%= image_tag('explain.png',size: '40x40')  %>
         <% end %>
       </div>
     </div>

</div>
</div>
<% end %>
<%= render "shared/footer" %>
