<%= render "shared/header" %>

 <div class="kind_wrapper">
  <span style="font-family: Comic Sans MS;">
    <div class="index_kind_japanese">
    <a href="/kind_japanese">
    「やさしい<ruby>日本語<rt>にほんご</rt></ruby>」を あなたは <ruby>知<rt>し</rt></ruby>って いますか？ </a>
    </div>
    </span>
  </div>

  <% breadcrumb :root %>
  
<div class="flower_main">
<div class="flower"></div>
</div>

<div class="topic_index_main">
<%= search_form_for @p, url: search_topics_path do |f| %>

  <div class="topic_choice_sentence" >
<ruby>私<rt>わたし</rt></ruby>は <ruby>文章<rt>ぶんしょう</rt></ruby>を <ruby>選<rt>えら</rt></ruby>びます
  </div>
<br>
  <div class="topic_choice_pulldown"><%= f.collection_select :sentence_id_eq, Sentence.all , :id, :name %></div>

  <div><%= button_tag type: :submit ,class: "search_btn",value: "search_buttton" do %>
       <%= image_tag('search.png',size: '40x40')  %>
  <% end %>
  </div>
<br>
</div>




<div class='main'>
 <div class='inner'>
    <% if @topics[0] != nil %>
     <ul class="topic_lists">
        <% @topics.each do |topic| %>

        

    <%= link_to topic_path(topic.id) do %>
     
    <div class="card_wrapper">
    <br>
      <li class="card">
       <li class="card_name"><span><%= topic.user.id %> <%= topic.user.name %></span> </li>
       <br>
          <li class="topic_card_sentence"><%= topic.sentence.name %></li>
   <br>
          <li class="card_birth"><span>私(わたし)は  <%= topic.user.birth_country %> 出身(しゅっしん)です</span> </li>
      
          <li class="card_pref"><span>私(わたし)は <%= topic.user.prefecture.name %>に 住(す)んでいます</span> </li>
      <br>
      <% if  topic.user.identity.present? %>
        <li class="card_identity"> <span>私(わたし)は Facebookを 使(つか)います</span><li>
      
         
          <li class="card_identity_content"> <span><%= topic.user.identity %></span> </li>
       <% end %>
      <br> 
          <li class="card_updated_time"><span><%= topic.updated_at.strftime('%Y/%m/%d') %></span></li>
        
     </li>
     
   </div>
 
     <% end %>
    <% end %>
  
  <% end %>
  </ul>
 </div>
</div>
<% end %>

<br>


<%# 投稿ボタン%>

<%= link_to(new_topic_path, class: 'post-btn') do %>
  <span class='post-btn-text'><ruby>送<rt>おく</rt></ruby>ります</span>
  <%= image_tag 'post.png' , size: '185x50' ,class: "post-btn-icon" %>
<% end %>
<%= render "shared/footer" %>