
<div class='main'>
 <div class='inner'>


    <% if @results.length !=0 %>
    <ul class="topic_lists">
      <% @results.each do |result| %>
    
    <div class="card_wrapper_search">
    <br>
      <li class="card">
 
     <li class="card_name"> <%= result.user.id %> <%= result.user.name %></li>
      <br>
     <li class="card_birth_search"> 私(わたし)は<br><%= result.user.birth_country %><br>出身(しゅっしん)です</li>
      <br>
      <li class="card_pref_search">私(わたし)は<br><%= result.user.prefecture.name %>に<br> 住(す)んでいます </li>
      
    <li class="card_updated_time"><%= result.user.updated_at.strftime('%Y/%m/%d')  %></li>

    </li>
     
    </div>

   <div class="search_right_wrapper">
      <div class="search_description"><%= result.description %>
      </div>
  </div>

    <% end %>
    
    </ul>
  </div>
</div>
<% else %>
  あなたが 選んだ文章は ありません
  <%= link_to '「やさしいHP」へ 戻りましょう', root_path %>
<% end %>
<br>
