<h1>
  検索結果
</h1>
<div class='main'>
 <div class='inner'>


    <% if @results.length !=0 %>
      <% @results.each do |result| %>
    
    
 
      <%= result.user.id %> <%= result.user.name %>
      <br>
      <%= result.user.birth_country %><br>
      <%= result.user.prefecture.name %><br>
      <%= result.user.identity %><br>
      <br>
      <%= result.description %><br>
      <br>
    
    


    <% end %>
  </div>
</div>
<% else %>
  あなたが 選んだ文章は ありません
  <%= link_to '「やさしいHP」へ 戻りましょう', root_path %>
<% end %>
<br>
