 <%= render "shared/header" %>

<div class='topic_choice_main'>
 <div class='inner'>


    <% if @results.length !=0 %>
    <ul class="topic_lists">
      <% @results.each do |result| %>
    
    <div class="card_wrapper_search">
    <br>
      <li class="card">
 
     <li class="card_name"> <span><%= result.user.id %> <%= result.user.name %></span></li>
      <br>
     <li class="card_birth_search"> <span>私(わたし)は<br><%= result.user.birth_country %><br>出身(しゅっしん)です</span></li>
      <br>
      <li class="card_pref_search"><span>私(わたし)は<br><%= result.user.prefecture.name %>に<br> 住(す)んでいます</span> </li>
      
    <li class="card_updated_time"><span><%= result.user.updated_at.strftime('%Y/%m/%d')  %></span></li>

    </li>
     
    </div>

   <div class="search_right_wrapper">
      <div class="search_description"><%= result.description %>
      </div>
  </div>

    <% end %>
    
    </ul>
  </div>
</div>

<%= render "shared/footer" %>

<% else %>

<div class="serach_not_main">
<br>
  <div class="search_not">あなたが 選んだ文章は ありません</div>
<br>
  <div class="search_return"><%= link_to '「やさしいHP」へ 戻りましょう', root_path %> </div>
  </div>
  <br>
  <br>
   <%= image_tag('return.png',size: '200x200',class: "return_btn ")  %> 
<% end %>

<% if @results.length == 0 %>
<footer>

  <div class="container_f">
    <div class="footer_logo">
      <%= link_to image_tag("logo.png"), root_path, class:"footer_image_logo" %>
    </div>
    <div class="copy_right"><p>Copyright © 2021 K.T. Inc. All Rights Reserved. </p></div>
    
  </div>

</footer>
<% end %>
<br>

