<%# ヘッダー %>
<header>

<div class="container">
  <div class="header_logo">
    <%= link_to image_tag("logo.png"), root_path , class:"header_image_logo" %>
  </div>

  <div class="header_nav">
    <ul >
    <% if user_signed_in? %>

    <li><%= link_to current_user.name ,"#",  class: "header_name" %></li>
    <li class="logout"><%= link_to image_tag('logout.png',size: '20x20'), destroy_user_session_path, method: :delete  %>
    <span style="font-family: Comic Sans MS;">
   
    「やさしいHP」から <ruby>私<rt>わたし</rt></ruby>は <ruby>出<rt>で</rt><ruby>ます</li>
    
    </span>
    </li> 

    <% else %>
      <span style="font-family: Comic Sans MS;">

      <li class="header_list" id="hl_left"><%= link_to image_tag("login.png"), new_user_registration_path %>
      <ruby>新<rt>あたら</rt></ruby>しく「やさしいHP」へ <ruby>私<rt>わたし</rt></ruby>は <ruby>入<rt>はい</rt><ruby>ります</li>

      <li class="header_list" id="hl_center"><%= link_to image_tag("login.png"), user_facebook_omniauth_authorize_path, method: :post %>
      Facebookで「やさしいHP」へ <ruby>私<rt>わたし</rt></ruby>は <ruby>入<rt>はい</rt><ruby>ります</li>

      <li class="header_list" id="hl_right"><%= link_to image_tag("login.png"), new_user_session_path %>
      「やさしいHP」へ <ruby>私<rt>わたし</rt></ruby>は <ruby>入<rt>はい</rt><ruby>ります</li>

      </span>
      <% end %>
      </ul>
    </div>
  </div>

</div>
</header>
<%# /ヘッダー %>
