<%= render "shared/header" %>
<div class="session_top">
<div class="session_top_sentence" >また「やさしいHP」へ<ruby>私<rt>わたし</rt></ruby>は <ruby>入<rt>はい</rt></ruby>ります</div>
</div>

<div class='session_main'>
<div class='session_container'>

<%# <br> %>
     
      

<%= form_with model: @user, url: user_session_path,class: 'session-main', local: true do |f| %>
<div class="flash_error">
<%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>  
  </div>
  
    
    <div class="session_mail">
     
      <ruby>私<rt>わたし</rt></ruby>は <span style="font-weight:800;"><ruby>電子<rt>でんし</rt></ruby><ruby>メール<rt>めーる</rt></ruby></span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>を<ruby>書<rt>か</rt></ruby>きます。
      </div>
  

  <br>
   <div class="session_password">
      
      <% @minimum_password_length %>
      
      <ruby>次<rt>つぎ</rt>に、<span style="font-weight:800;"><ruby>暗証番号<rt>あんしょうばんごう</rt></ruby></span><%= f.password_field :password, autocomplete: "new-password" %>を<ruby>書<rt>か</rt></ruby>きます。
    </div>
  

  </div>

  <div><%= button_tag type: :submit ,class: "session_btn" do %>
          <%= image_tag('explain.png',size: '30x30')  %>
        <% end %>
         </div>
<% end %>

</div>
<div class="session_space"> </div>
<%= render "shared/footer" %>
