<h2>Log in</h2>

<br>
      <%= flash[:notice] = '今は「やさしいHP」の外にいます'  %><br>
      <%= flash[:alert]= "空欄に文字を入れてください。" %>
      

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <br />
    <div class="field">
      私は「やさしいHP」へ  また 入りますから <br><br>
      電子メール（めーる）<%= f.email_field :email, autofocus: true, autocomplete: "email" %>を書きます。
      </div>
  </div>

  
   <div class="field">
      
      <% @minimum_password_length %>
      
      次に、暗証番号<%= f.password_field :password, autocomplete: "new-password" %>を書きます。
    </div>
  

  

  <div><%= button_tag type: :submit ,class: "registration_btn" do %>
          <%= image_tag('explain.png',size: '30x30')  %>
        <% end %>
         </div>
<% end %>

