<!DOCTYPE html>
<html>
  <head>
    <title>やさしいHP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name=”description” content=”やさしい日本語(にほんご)をあなたは知(し)っていますか？やさしいHPでは文章をすべて、やさしい日本語(にほんご)で書(か)いています。ここで交流(こうりゅう)しましょう!!”>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700;800;900&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
 <%= favicon_link_tag('favicon.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
